.container-navbar {
  margin: 10px 0px;
}
.container-menu-bar {
  display: flex;
  width: 100%;
  justify-content: center;
}

.cointainer-seacrh {
  display: flex;
  justify-content: right;
}
.menu-blod {
  text-transform: uppercase;
  color: black;
  margin: 0px 10px;
  font-size: 11pt;
  font-weight: bold;
}
.btn-style-search {
  background-color: #ff553c;
  color: white;
  border-radius: 0px !important;
}
.footer-icon {
  background-color: #11bcc7;
}

.icon-style:hover {
  color: white;
}
