@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;900&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}
.App {
  font-family: sans-serif;
}

.area-message {
  background-color: #f5f7fb;
}

.area-message > p {
  padding: 10px;
}

.value-table {
  font-size: 14pt;
  font-weight: bold;
}
